[workspace]
name = "clice"
version = "0.1.0"
description = "A next-generation C++ language server for modern C++"
authors = [
  "ykiko <ykikoykikoykiko@gmail.com>",
  "clice contributors <clice@clice.io>",
]

license = "Apache-2.0"
license-file = "LICENSE"
readme = "README.md"
documentation = "https://clice.io"
repository = "https://github.com/clice-io/clice"

channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64"]

[dependencies]
cmake = ">=3.30"
ninja = "*"
clang = "==20.1.8"
clangxx = "==20.1.8"
lld = "==20.1.8"
llvm-tools = "==20.1.8"
compiler-rt = "==20.1.8"

[target.linux-64.dependencies]
sysroot_linux-64 = "==2.17"
gcc = "==14.2.0"
gxx = "==14.2.0"

[target.win-64.activation]
scripts = ["scripts/activate_asan.bat"]

[target.linux-64.activation]
scripts = ["scripts/activate_linux.sh"]

[feature.test.dependencies]
uv = "*"

[feature.package.dependencies]
xz = ">=5.8.1,<6"

[environments]
default = []
develop = ["test"]
package = ["test", "package"]

[tasks.build-llvm]
cmd = ["python3", "scripts/build-llvm.py"]

[tasks.upload-llvm]
args = [
    "workflow_id",
    "llvm_version",
    { "arg" = "branch", default = "main" },
]
cmd = [
    "gh", "workflow", "run", "upload-llvm.yml",
    "--ref", "{{ branch }}",
    "--field", "workflow_id={{workflow_id}}",
    "--field", "version={{llvm_version}}",
]

[tasks.delete-artifacts]
# delete all workflows generated by "file_name"
args = ["file_name"]
cmd = ["scripts/delete-artifacts.bash", "{{ file_name }}"]
