name: cmake

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "CMakeLists.txt"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "config/**"
      - "CMakeLists.txt"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            build_type: RelWithDebInfo
            cc: clang
            cxx: clang++
          - os: ubuntu-24.04
            build_type: Debug
            cc: clang-20
            cxx: clang++-20
          - os: macos-15
            build_type: Debug
            cc: clang
            cxx: clang++

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup dependencies (Windows)
        if: runner.os == 'Windows'
        uses: MinoruSekine/setup-scoop@v4.0.1
        with:
          buckets: main
          apps: ninja

      - name: Setup dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y gcc-14 g++-14 libstdc++-14-dev
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
          sudo update-alternatives --set gcc /usr/bin/gcc-14
          sudo update-alternatives --set g++ /usr/bin/g++-14
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20 all
          sudo apt install -y cmake ninja-build

      - name: Setup dependencies (MacOS)
        if: runner.os == 'macOS'
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          brew install llvm@20 lld@20

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup msvc sysroot for cmake
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build clice
        shell: bash
        run: |
          if [[ "${{ runner.os }}" == "macOS" ]]; then
            export SDKROOT=$(xcrun --show-sdk-path)
            export PATH="/opt/homebrew/opt/llvm@20/bin:/opt/homebrew/opt/lld@20/bin:$PATH"
          fi

          cmake -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_C_COMPILER=${{ matrix.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
            -DCLICE_ENABLE_TEST=ON \
            -DCLICE_CI_ENVIRONMENT=ON

          cmake --build build

      - name: Install uv for integration tests
        uses: astral-sh/setup-uv@v6

      - name: Run tests
        shell: bash
        run: |
          EXE_EXT=""
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            EXE_EXT=".exe"
          fi

          if [[ "${{ runner.os }}" == "macOS" ]]; then
            export PATH="/opt/homebrew/opt/llvm@20/bin:/opt/homebrew/opt/lld@20/bin:$PATH"
          fi

          ./build/bin/unit_tests${EXE_EXT} --test-dir="./tests/data"
          uv run --project tests pytest -s --log-cli-level=INFO tests/integration --executable=./build/bin/clice${EXE_EXT}
