name: cmake

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "CMakeLists.txt"

  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "config/**"
      - "CMakeLists.txt"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            build_type: RelWithDebInfo
          - os: ubuntu-24.04
            build_type: Debug
          - os: macos-15
            build_type: Debug

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          environments: develop
          activate-environment: true
          cache: true
          locked: true

      - name: Build
        run: |
          pixi run ci-cmake-build ${{ matrix.build_type }}

      - name: Test
        run: |
          pixi run ci-cmake-test
