name: Publish Docs

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install
        working-directory: ./docs

      - name: Build
        run: npm run docs:build
        working-directory: ./docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PUBLISH_DOCS }}
          external_repository: clice-io/docs
          publish_dir: ./docs/.vitepress/dist
          destination_dir: clice
          keep_files: true
